<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verificação de E-mail</title>
  <style>
    body {
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .titulo {
        font-family: 'Arial';
      }
      .sub-titulo {
        font-family: 'Arial';
      }
      .button-verificar {
        border-color: blue;
        border-radius: 10px;
        text-align: center;
        color: white;
      }
    }
  </style>
</head>
<body class="container">
  <h1 class="titulo">Verificação do e-mail</h1>

  <h2 class="sub-titulo"> {{ name }} por favor clique no botão para verificar e-mail</h2>

  <button class="button-verificar">
    Verificar
  </button>

</body>
</html>